/* HEADER TEXT */
/* Lack font, by Adrien Midzic @ Velvetyne Foundry, retired font.  https://velvetyne.fr/news/vtf-is-dead-long-live-velvetyne/ */
/* modified SIL OFL license, must be credited */

@font-face {
    font-family: 'Lack';
    src: url('lack-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lack';
    src: url('lack-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lack Line';
    src: url('lack-line-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lack Line';
    src: url('lack-line-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

