
.snippetBar{
	@menuHeight      : 25px;
	position         : relative;
	background-color : #888;
	display			 : flex;
	flex-wrap        : wrap;
	gap : 1px;
	.editors, .tools{
		flex            : 1 0 auto;
		position        : relative;
		display         : flex;
		top             : 0px;
		height          : @menuHeight;
		justify-content : space-around;
		background-color: #ddd;
		&>div{
			flex:1 0 auto;
			height      : @menuHeight;
			width       : @menuHeight;
			cursor      : pointer;
			line-height : @menuHeight;
			text-align  : center;
			&:hover,&.selected{
				background-color : #999;
			}
			&.text{
				.tooltipRight('Brew Editor');
			}
			&.style{
				.tooltipRight('Style Editor');
			}
			&.meta{
				.tooltipRight('Properties');
			}
			&.undo{
				.tooltipLeft('Undo');
				font-size : 0.75em;
				color     : grey;
				&.active{
					color : black;
				}
			}
			&.redo{
				.tooltipLeft('Redo');
				font-size : 0.75em;
				color     : grey;
				&.active{
					color : black;
				}
			}
			&.divider {
				background: linear-gradient(#888, #888) no-repeat center/1px 100%;
				width: 5px;
				&:hover{
					background-color: inherit;
				}
			}
		}
	}
	.snippets{
		flex : 10 0 auto;
		gap  : 1px;
		background-color: #ddd;
	
		.snippetBarButton{
			height         : @menuHeight;
			line-height    : @menuHeight;
			display        : inline-block;
			padding        : 0px 5px;
			font-weight    : 800;
			font-size      : 0.625em;
			text-transform : uppercase;
			cursor         : pointer;
			&:hover, &.selected{
				background-color : #999;
			}
			i{
				vertical-align : middle;
				margin-right   : 3px;
				font-size      : 1.4em;
			}
		}
		.toggleMeta{
			position     : absolute;
			top          : 0px;
			right        : 0px;
			border-left  : 1px solid black;
			.tooltipLeft("Edit Brew Properties");
		}
		.snippetGroup{
			&:hover{
				.dropdown{
					visibility : visible;
				}
			}
			.dropdown{
				position         : absolute;
				top              : 100%;
				visibility       : hidden;
				z-index          : 1000;
				margin-left      : -5px;
				padding          : 0px;
				background-color : #ddd;
				.snippet{
					.animate(background-color);
					padding     : 5px;
					cursor      : pointer;
					font-size   : 10px;
					white-space : nowrap;
					i{
						margin-right : 8px;
						font-size    : 1.2em;
					}
					&:hover{
						background-color : #999;
					}
				}
			}
		}
	}
}
